<!doctype html>
<html lang="de">
<head>
  <title>Titel</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <style>
    * { }
    body { font-family: monospace; line-height: 1.65; font-size: 16px; margin: auto; padding: 1rem; max-width: 50rem; display: grid; grid-template-columns: auto auto; column-gap: 1rem; }
    nav { width: 10rem; }
    main { max-width: 39rem; }
    img { width: 100%; height: auto; }
    @media (max-width: 480px) { body { display: block; } }

    /*body { border: 1px solid #ddd; }*/
    /*figure { margin: 0; border: 1px solid #ddd; }*/
    /*main { background: #fa0; }*/
    /*nav { background: #faf; }*/
    pre { margin: 0; }
  </style>
</head>
<body>


  <nav id="navigation" aria-label="Main">
<pre>
<a href="#" class="" title="">Start</a>
<a href="#" class="" title="">Neues</a>
<a href="#" class="" title="">Artikel</a>
  <a href="#" class="" title="">Webdesign</a>
  <a href="#" class="" title="">Buchkritik</a>
  <a href="#" class="" title="">Musik</a>
<a href="#" class="" title="">Biografie</a>
<a href="#" class="" title="">Kontakt</a>
</pre>
  </nav>


  <main>
    <article>
      <header>
        <picture>
          <source type="image/webp" srcset="https://moritz.sauer.io/img/schreibt/clash-royale-3.webp">
          <source type="image/jpeg" srcset="https://moritz.sauer.io/img/schreibt/clash-royale-3.jpg">
          <img src="https://moritz.sauer.io/img/schreibt/clash-royale-3.jpg" alt="Clash Royale">
        </picture>
        <small><a href="#" class="" title="">Start</a>/<a href="#" class="" title="">Artikel</a>/Spiel doch mal Clash Royale!</small>
        <h1>Spiel doch mal Clash Royale!</h1>
      </header>

      <p>
        Wieviel Werbeblöcke ich auf YouTube &amp; Co. ignoriert oder weggeklickt habe, weiß ich nicht mehr. Aber Clash Royale war oft dabei und ich habe mir immer gedacht: So ein Nonsense. Bestimmt so ein Klickerspiel wie Plants vs. Zombies oder Candy Crush. Bis 
        <a href="https://www.horstseinefreunde.de/allgemein/daddelnd-durch-die-kontaktsperre/" target="_blank" rel="noopener">FC Stoffel</a>
        mich auf die Idee gebracht hat, dass 
        <a href="https://moritz.sauer.io/schlagwort/spiel/">Spiel</a>
        mal auszuprobieren…
      </p>
      <figure>
        <picture>
          <source type="image/webp" srcset="https://moritz.sauer.io/img/schreibt/clash-royale-2.webp">
          <source type="image/jpeg" srcset="https://moritz.sauer.io/img/schreibt/clash-royale-2.jpg">
          <img src="https://moritz.sauer.io/img/schreibt/clash-royale-2.jpg" alt="Clash Royale Kartenset">
        </picture>
        <figcaption>Kartenset von Clash Royale</figcaption>
      </figure>
       <p>Ich komme also zehn Jahre später zur Party. Aber ich muss schon sagen, dass Clash Royale ein exzellent gemachtes 
      <a href="https://de.wikipedia.org/wiki/Casual_Game" target="_blank" rel="noopener">casual game</a>
       mit absolutem Suchtfaktor ist. Clash Royale ist pfiffig konstruiert: Du verstehst es schnell und legst los ohne nachzudenken.</p>

      <picture>
        <source type="image/webp" srcset="https://moritz.sauer.io/img/schreibt/clash-royale-2.webp">
        <source type="image/jpeg" srcset="https://moritz.sauer.io/img/schreibt/clash-royale-2.jpg">
        <img src="https://moritz.sauer.io/img/schreibt/clash-royale-2.jpg" alt="Clash Royale Kartenset">
      </picture>


      <footer>
        <time datetime="2020-10-06">06.10.2020</time>
      </footer>
    </article>
  </main>
</body>
</html>
